<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIBLIOTHEKA</title>
    <link rel="icon" type="image/x-icon" href="../img/child-reading-book_icon-icons.com_49243.png">
</head>

<body>
    <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="galerie.html">Galerie</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="media.html">Media</a></li>
    </ul>



    <div class="contniare-un">
        <div class="cologne-un">
            <h3>Jean Dupont</h3>
            <img style="border-radius: 30px;" src="../img/jean dupont.jpg" height="300px" width="300px">
            <p>Un homme passionné par les livres trouve dans la lecture une source infinie d’évasion et de savoir.
                Chaque
                ouvrage qu’il ouvre est une porte vers de nouvelles idées, des récits fascinants et des émotions
                profondes.
                Lire n’est pas seulement un loisir pour lui, mais une véritable nécessité, une manière d’explorer le
                monde
                et de nourrir son esprit.</p>

        </div>
        <div class="cologne-deux">
            <h3>Marie Curie</h3>
            <img style="border-radius: 30px;" src="../img/Marrie.jpg" height="300px" width="300px" alt="">
            <p>Une femme auteure trouve dans l’écriture une manière de donner vie à ses pensées et de partager son
                univers
                avec le monde. Chaque mot qu’elle choisit est une pièce d’un puzzle qui construit des histoires
                captivantes,
                émouvantes ou inspirantes.</p>

        </div>

        <div class="cologne-trois">
            <h3>Pierre Curie</h3>
            <img style="border-radius: 30px;" src="../img/pierre curie.jpg" width="300px" height="300px">
            <p>Un homme passionné par la chimie et la physique trouve dans ces sciences une manière de décrypter les
                lois
                qui régissent l’univers. Chaque équation, chaque réaction chimique ou phénomène physique est pour lui
                une
                énigme fascinante à résoudre.</p>
        </div>

    </div>

    <footer class="pied-de-page">
        <p class="p-footer">Footer discret</p>
    </footer>
</body>

</html>