<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIBLIOTHEKA</title>
</head>

<body>
    <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="galerie.html">Galerie</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="media.html">Media</a></li>
    </ul>
    <div class="left">
        <section class="video">
            <iframe width="800" height="450" src="../video/video.gpg.mp4"></iframe>
        </section>
    </div>
    <div class="right">
        <section class="podcasts">
            <audio controls>
                <source src="../audio/Georges_Rodenbach_-_Alleluia_Cloches_de_Paques.mp3" type="audio/mp3">
            </audio>
        </section>
    </div>
    <img src="." alt="">
</body>

</html>