<!-- Versionning 
    Page        : 'Page livres'
    Version     : '1.0.0'
    Date        : '24.04.25'
    Auteur      : 'GRI/BAS'
    Description : 'Page livres'

    ChangeLog  :
        24.04.25 | 1.0.0 BAS: Initialisation de la page
        
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIBLIOTHEKA</title>
    <link rel="icon" type="image/x-icon" href="../img/child-reading-book_icon-icons.com_49243.png">
</head>

<body>
    <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="galerie.html">Galerie</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="media.html">Media</a></li>
    </ul>

    <div class="bacround-livre">
        <div class="main-container">
            <div class="galerie-title">
                <h1>Galerie de Livres</h1>
            </div>
            <div class="container">
                <div class="livre">
                    <img src="../img/Autumn.jpg" height="300px" alt="">
                    <h2>Titre du Livre 1</h2>
                    <p><span>Auteur</span> : Auteur 1</p>
                    <p>Ceci est une courte description du livre <br>1.</p>
                </div>

                <div class="livre">
                    <img src="../img/comte.jpg" height="300px" alt="">
                    <h2>Titre du Livre 2</h2>
                    <p><span>Auteur</span> : Auteur 2</p>
                    <p>Ceci est une courte description du livre <br>2.</p>
                </div>

                <div class="livre">
                    <img src="../img/tom.jpg" height="300px" alt="">
                    <h2>Titre du Livre 3</h2>
                    <p><span>Auteur</span>: Auteur 3</p>
                    <p>Ceci est une courte description du livre <br>3.</p>
                </div>

                <div class="livre">
                    <img src="../img/html , css.jpg" width="200px" height="300px" alt="">
                    <h2>Titre du Livre 4</h2>
                    <p><span>Auteur</span> : Auteur 4</p>
                    <p>Ceci est une courte description du livre <br> 4.</p>
                </div>

                <div class="livre">
                    <img src="../img/gabriel.jpg" width="200px" height="300px" alt="">
                    <h2>Titre du Livre 5</h2>
                    <p><span>Auteur</span>: Auteur 5</p>
                    <p>Ceci est une courte description du livre <br>5.</p>
                </div>

                <div class="livre">
                    <img src="../img/l-arbre-et-le-colibri.jpg" width="200px" height="300px" alt="">
                    <h2>Titre du Livre 6</h2>
                    <p><span>Auteur</span> : Auteur 6</p>
                    <p>Ceci est une courte description du livre <br>6.</p>
                </div>
                <div class="livre">
                    <img src="../img/malwar.jpg" width="200px" height="300px" alt="">
                    <h2>Titre du Livre 7</h2>
                    <p><span>Auteur</span> : Auteur 7</p>
                    <p>Ceci est une courte description du livre <br>7.</p>
                </div>
                <div class="livre">
                    <img src="../img/du lac.jpg" width="200px" height="300px" alt="">
                    <h2>Titre du Livre 8</h2>
                    <p><span>Auteur</span>: Auteur 8</p>
                    <p>Ceci est une courte description du livre <br>8.</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="pied-de-page">
        <p class="p-footer">Footer discret</p>
    </footer>
</body>

</html>