<!-- Versionning -->
<!--
    Page        : 'Page d'accueil'
    Version     : '1.0.1'
    Date        : '23.04.25'
    Auteur      : 'GRI/BAS'
    Description : 'Page principale'
-->
<!--
ChangeLog  23.04.25 | 1.0.1 BAS: Ajouter un font pour le titre h1 : page principal
ChangeLog  25.04.25 | 1.0.2 BAS: Ajouter un Favicon thml: page principal
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style/style.css">
    <title>Bibilotheka</title>
    <link rel="icon" type="image/x-icon" href="../img/child-reading-book_icon-icons.com_49243.png">
    <link href='https://fonts.googleapis.com/css?family=Style Script' rel='stylesheet'>

</head>

<body>
    <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="galerie.html">Galerie</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="media.html">Media</a></li>
    </ul>
    <div class="bac-bibliotheque">
        <div class="gold">
            <h1>bibliotheka</h1>
        </div>
        <p class="principale_main">Bienvenue à Bibliotheka, un espace dédié aux amoureux des livres et du savoir ! Ici,
            chaque page tournée est une
            porte ouverte vers l’imaginaire, la découverte et l’apprentissage.
            Que vous soyez passionné de littérature, curieux d’histoire ou avide de connaissances,<br> notre
            bibliothèque vous
            offre un univers riche et varié, où chaque ouvrage raconte une histoire et chaque lecteur trouve son
            aventure culturelle où l’échange et le partage sont au cœur de notre mission</p>
        <div class="principale">
            <img src="../img/photofunky.gif" alt="une presone qui aime la lecture">
        </div>
    </div>
    <footer class="pied-de-page">
        <p class="p-footer">Footer discret</p>
    </footer>
</body>

</html>