<!-- Versionning 
    Page        : 'Page media'
    Version     : '1.0.0'
    Date        : '24.04.25'
    Auteur      : 'GRI/BAS'
    Description : 'Page media'

    ChangeLog  :
        24.04.25 | 1.0.0 BAS: Initialisation de la page
        24.04.25 | 1.0.1 BAS: ajouter la page media        
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/child-reading-book_icon-icons.com_49243.png">
    <title>BIBLIOTHEKA</title>
</head>

<body>
    <ul>
        <li><a href="index.html">Accueil</a></li>
        <li><a href="galerie.html">Galerie</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="media.html">Media</a></li>
    </ul>
    <div class="left">
        <div class="regadon-video">
            <h1>regardez nous </h1>
        </div>
        <section class="vidéo">
            <iframe width="800" height="450" src="../video/video.gpg.mp4"></iframe>
        </section>
        <div class="canape">
            <img src="../img/premium_vector-1723021664786-6db40c0f2c33.jpg" width="400" height="300">
        </div>
    </div>
    <div class="right">
        <section class="podcasts">
            <div class="chansons-titre">
                <h1>Nous écouter</h1>
            </div>
            <div class="chanson-par">
                <p>La musique est bien plus qu'un simple divertissement ; elle est une véritable source d'émotions et de
                    souvenirs. Chaque mélodie évoque une sensation unique, transportant l'auditeur dans un univers où
                    les notes racontent une histoire. Que ce soit pour se</p>
            </div>
            <audio controls>
                <source src="../audio/Georges_Rodenbach_-_Alleluia_Cloches_de_Paques.mp3" type="audio/mp3">
            </audio>
            <audio controls>
                <source src="../audio/test.mp3" type="audio/mp3">
            </audio>
            <div class="hello">
                <img src="../img/icegif-225.gif" alt="hello">
            </div>
            <div class="piano">
                <img src="../img/" alt="">
            </div>
        </section>
    </div>
    <div class="waveimg">
    </div>
    <footer class="pied-de-page">
        <p class="p-footer">Footer discret</p>
    </footer>
</body>

</html>